<div>
    <h2 id="page-heading">
        <span jhiTranslate="supermercadoApp.shoppingCartItem.home.title">Shopping Cart Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-cart-item" [routerLink]="['/shopping-cart-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="supermercadoApp.shoppingCartItem.home.createLabel">
            Create a new Shopping Cart Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shoppingCartItems?.length === 0">
        <span jhiTranslate="supermercadoApp.shoppingCartItem.home.notFound">No shoppingCartItems found</span>
    </div>
    <div class="table-responsive" *ngIf="shoppingCartItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="total"><span jhiTranslate="supermercadoApp.shoppingCartItem.total">Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productQuantity"><span jhiTranslate="supermercadoApp.shoppingCartItem.productQuantity">Product Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="product.name"><span jhiTranslate="supermercadoApp.shoppingCartItem.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sale.id"><span jhiTranslate="supermercadoApp.shoppingCartItem.sale">Sale</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shoppingCartItem of shoppingCartItems ;trackBy: trackId">
                <td><a [routerLink]="['/shopping-cart-item', shoppingCartItem.id, 'view' ]">{{shoppingCartItem.id}}</a></td>
                <td>{{shoppingCartItem.total}}</td>
                <td>{{shoppingCartItem.productQuantity}}</td>
                <td>
                    <div *ngIf="shoppingCartItem.product">
                        <a [routerLink]="['/product', shoppingCartItem.product?.id, 'view' ]" >{{shoppingCartItem.product?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shoppingCartItem.sale">
                        <a [routerLink]="['/sale', shoppingCartItem.sale?.id, 'view' ]" >{{shoppingCartItem.sale?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shopping-cart-item', shoppingCartItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopping-cart-item', shoppingCartItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopping-cart-item', { outlets: { popup: shoppingCartItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="shoppingCartItems?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
