<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shopping-cart-item-heading" jhiTranslate="supermercadoApp.shoppingCartItem.home.createOrEditLabel">Create or edit a Shopping Cart Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.shoppingCartItem.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.shoppingCartItem.productQuantity" for="field_productQuantity">Product Quantity</label>
                    <input type="number" class="form-control" name="productQuantity" id="field_productQuantity"
                           formControlName="productQuantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.shoppingCartItem.product" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="product">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id === editForm.get('product').value?.id ? editForm.get('product').value : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.shoppingCartItem.sale" for="field_sale">Sale</label>
                    <select class="form-control" id="field_sale" name="sale" formControlName="sale">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saleOption.id === editForm.get('sale').value?.id ? editForm.get('sale').value : saleOption" *ngFor="let saleOption of sales; trackBy: trackSaleById">{{saleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
