<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCartItem">
            <h2><span jhiTranslate="supermercadoApp.shoppingCartItem.detail.title">Shopping Cart Item</span> {{shoppingCartItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supermercadoApp.shoppingCartItem.total">Total</span></dt>
                <dd>
                    <span>{{shoppingCartItem.total}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.shoppingCartItem.productQuantity">Product Quantity</span></dt>
                <dd>
                    <span>{{shoppingCartItem.productQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.shoppingCartItem.product">Product</span></dt>
                <dd>
                    <div *ngIf="shoppingCartItem.product">
                        <a [routerLink]="['/product', shoppingCartItem.product?.id, 'view']">{{shoppingCartItem.product?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.shoppingCartItem.sale">Sale</span></dt>
                <dd>
                    <div *ngIf="shoppingCartItem.sale">
                        <a [routerLink]="['/sale', shoppingCartItem.sale?.id, 'view']">{{shoppingCartItem.sale?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-cart-item', shoppingCartItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
