<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sale">
            <h2><span jhiTranslate="supermercadoApp.sale.detail.title">Sale</span> {{sale.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="supermercadoApp.sale.subtotal">Subtotal</span></dt>
                <dd>
                    <span>{{sale.subtotal}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.productsQuantity">Products Quantity</span></dt>
                <dd>
                    <span>{{sale.productsQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.discount">Discount</span></dt>
                <dd>
                    <span>{{sale.discount}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.iva">Iva</span></dt>
                <dd>
                    <span>{{sale.iva}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.invoiceBusinessName">Invoice Business Name</span></dt>
                <dd>
                    <span>{{sale.invoiceBusinessName}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.nitDocument">Nit Document</span></dt>
                <dd>
                    <span>{{sale.nitDocument}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.total">Total</span></dt>
                <dd>
                    <span>{{sale.total}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.totalPaid">Total Paid</span></dt>
                <dd>
                    <span>{{sale.totalPaid}}</span>
                </dd>
                <dt><span jhiTranslate="supermercadoApp.sale.user">User</span></dt>
                <dd>
                    {{sale.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sale', sale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
