<div>
    <h2 id="page-heading">
        <span jhiTranslate="supermercadoApp.sale.home.title">Sales</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sale" [routerLink]="['/sale/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="supermercadoApp.sale.home.createLabel">
            Create a new Sale
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sales?.length === 0">
        <span jhiTranslate="supermercadoApp.sale.home.notFound">No sales found</span>
    </div>
    <div class="table-responsive" *ngIf="sales?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subtotal"><span jhiTranslate="supermercadoApp.sale.subtotal">Subtotal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productsQuantity"><span jhiTranslate="supermercadoApp.sale.productsQuantity">Products Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discount"><span jhiTranslate="supermercadoApp.sale.discount">Discount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iva"><span jhiTranslate="supermercadoApp.sale.iva">Iva</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceBusinessName"><span jhiTranslate="supermercadoApp.sale.invoiceBusinessName">Invoice Business Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nitDocument"><span jhiTranslate="supermercadoApp.sale.nitDocument">Nit Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="total"><span jhiTranslate="supermercadoApp.sale.total">Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPaid"><span jhiTranslate="supermercadoApp.sale.totalPaid">Total Paid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="supermercadoApp.sale.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sale of sales ;trackBy: trackId">
                <td><a [routerLink]="['/sale', sale.id, 'view' ]">{{sale.id}}</a></td>
                <td>{{sale.subtotal}}</td>
                <td>{{sale.productsQuantity}}</td>
                <td>{{sale.discount}}</td>
                <td>{{sale.iva}}</td>
                <td>{{sale.invoiceBusinessName}}</td>
                <td>{{sale.nitDocument}}</td>
                <td>{{sale.total}}</td>
                <td>{{sale.totalPaid}}</td>
                <td>
                    {{sale.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sale', sale.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sale', sale.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sale', { outlets: { popup: sale.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="sales?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
