<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sale-heading" jhiTranslate="supermercadoApp.sale.home.createOrEditLabel">Create or edit a Sale</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.subtotal" for="field_subtotal">Subtotal</label>
                    <input type="number" class="form-control" name="subtotal" id="field_subtotal"
                           formControlName="subtotal"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.productsQuantity" for="field_productsQuantity">Products Quantity</label>
                    <input type="number" class="form-control" name="productsQuantity" id="field_productsQuantity"
                           formControlName="productsQuantity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.discount" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                           formControlName="discount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.iva" for="field_iva">Iva</label>
                    <input type="number" class="form-control" name="iva" id="field_iva"
                           formControlName="iva"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.invoiceBusinessName" for="field_invoiceBusinessName">Invoice Business Name</label>
                    <input type="text" class="form-control" name="invoiceBusinessName" id="field_invoiceBusinessName"
                           formControlName="invoiceBusinessName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.nitDocument" for="field_nitDocument">Nit Document</label>
                    <input type="text" class="form-control" name="nitDocument" id="field_nitDocument"
                           formControlName="nitDocument"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.totalPaid" for="field_totalPaid">Total Paid</label>
                    <input type="number" class="form-control" name="totalPaid" id="field_totalPaid"
                           formControlName="totalPaid"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="supermercadoApp.sale.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
